.container-fluid {
  background-color: #ffb3c6;
  min-height: 100vh;
  padding: 1.5rem;
}

.cell {
  background-color: #a679ca;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 700;
  color: #fefefe;
}

.wrapper {
  background-color: #ffe5ec;
  padding: 1.5rem;
  margin-top: 2rem;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

@media screen
  and (min-width: 800px)
  and (orientation: landscape)
{
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen
  and (min-width: 1280px)
  and (orientation: landscape)
{
  .wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen
  and (min-width: 1920px)
  and (orientation: landscape)
{
  .wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen
  and (min-width: 3840px)
  and (orientation: landscape)
{
  .wrapper {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen
  and (min-width: 1080px)
  and (orientation: portrait)
{
  .wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
