body {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  margin: 0;
}

.bg {
  background-size: cover;
}

.bg-1 {
  background-image: url("../images/nasa-1.jpg");
}

.bg-2 {
  background-image: url("../images/commodore-64.jpg");
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
